.main-navbar {
    background-color: var(--cstm-blue);
    padding: .5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    menu {
        font-size: 1.5rem;
        display: flex;
        justify-content: space-between;
        gap: 1.5rem;
        margin-right: 1rem;

    }
}

.page {
    display: grid;
    gap: 1rem;
    padding: 1rem;
}

.main-color {
    color: var(--cstm-blue);
}

.sign-user {
    form {
        display: grid;
        gap: 1rem;
        .form-field {
            display: grid;
            justify-content: center;
            input {
                width: 35vw;
            }
        }
    }
}
