// GENERIC STYLE
:root {
    --cstm-blue: rgba(64, 78, 237, 0.713);
    --cstm-purple: rgb(157, 0, 255);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: rgba(0, 0, 0, 0.85);
    color: whitesmoke;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    max-width: 100%;
}


a {
    color: inherit;
    text-decoration: none;
}

li {
    list-style-type: none;
}

input, select, textarea {
    font: inherit;
    padding: .1rem .3rem;
    border-style: none;
    border-radius: .2rem;
    &:focus {
        outline: solid .15rem var(--cstm-purple);
    }
}

button {
    font: inherit;
    padding: .2rem 1rem;
    background-color: inherit;
    color: whitesmoke;
    border: .15rem solid var(--cstm-purple);
    border-radius: .5rem;
    &:hover {
        background-color: var(--cstm-purple);
        cursor: pointer;
    }
}




