:root {
    --cstm-blue: rgba(64, 78, 237);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: rgba(0, 0, 0, 0.85);
    color: whitesmoke;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    max-width: 100%;
}


a {
    color: inherit;
    text-decoration: none;
}

li {
    list-style-type: none;
}

input {
    font: inherit;
    padding: .1rem .3rem;
    border-style: none;
    border-radius: .2rem;
    &:focus {
        border-style: none;
        outline: solid .15rem var(--cstm-blue);
    }
}

.center {
    text-align: center;
}



